/*
LOGIN PAGE
*/
.form {
  margin-left: 145px;
  z-index: 1;
  font-family: "Cookie";
  font-size: 2rem;
}
.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Cookie";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
}

.login-link {
  z-index: 1;
}

textarea{
  resize: none;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

.back-form{
  background-color: #CEEAF7;
  margin: 0;
}

/*
 INDEX.HTML POST EVENT FORM
 */

.title-h1{
  text-align: left;
  font-size: 6rem;
  font-family: "Delius Unicase";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
}

.post-label {
  display: block;
  position: relative;
  margin: 40px 0px;
}
.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.postform {
  width: 60%;
  margin: 60px auto;
  background: #CEEAF7;
  padding: 60px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #5BC0DE;
  transition: ease .6s;
}

.input:focus + .line-box .line {
  width: 100%;
}

.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: "Delius Unicase";
  font-size: 1.2em;
  letter-spacing: 1px;
  color: #5BC0DE;
  transition: ease .3s;
}

.label-active {
  top: -3em;
}

.submit {
  display: inline-block;
  padding: 12px 24px;
  transition: ease .3s;
}

.button{
  background-color: #5BC0DE;
  color: white;
  font-family: "Delius Unicase";
  border-radius: 12px;
  border: 2px solid #5BC0DE;
  padding: 10px 20px;
}
.button:hover{
  background-color: transparent;
  color: #5BC0DE;
}

/*
 POST CSS
*/

.event-month{
  color: #5BC0DE;
}
.event-day{
  font-size: 20px;
}
