<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <script src="{{ url_for('static', filename='js/posteventform') }}" type="text/javascript"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <link href='https://fonts.googleapis.com/css?family=Delius Unicase' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
</head>

    <h1>Something went wrong!!! </h1>
    <p>We will fix it soon, don't u worry child <3</p>
    <br>
    <a href="{{ url_for('index') }}">Back</a>
