<table class="table table-hover">
        <tr>
            <td width="70px">
              <p class="event-month">{{ post.date.strftime("%b") }}</p>
              <p class="event-day">{{ post.date.strftime("%d") }}</p>
            </td>
            <td>
                {{ post.title }}
                <br>
                {{ post.date.strftime("%a, %b %d %Y") }}
                at {{ post.time.strftime("%H:%M") }}
                <br>
                {{ post.venue }}
                <br>
                Posted by:
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                {{ moment(post.timestamp).fromNow() }}
                <br>
                Description: {{ post.body }}
                <br>
                {% if post.author.username == current_user.username %}
                  <a href="{{ url_for('delete_post', post_id=post.id) }}">Delete post</a>
                {% endif %}

                {{ post.eventphoto }}
            </td>
        </tr>
</table>
