<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>


<table class="table table-hover">
        <tr>
            <td width="70px">
                {{ post.date.strftime("%b") }} <br>
                {{ post.date.strftime("%d") }}
            </td>
            <td>
                {{ post.title }}
                <br>
                {{ post.date.strftime("%a, %b %d %Y") }}
                at {{ post.time.strftime("%H:%M") }}
                <br>
                {{ post.venue }}
                <br>
                Posted by:
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                {{ moment(post.timestamp).fromNow() }}
                <br>
                Description: {{ post.body }}
                <br>
                {% if post.author.username == current_user.username %}
                  <a href="{{ url_for('delete_post', post_id=post.id) }}">Delete post</a>
                {% endif %}
            </td>
        </tr>
</table>
