<head>
  <link href="//bootswatch.com/4/minty/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="//bootswatch.com/4/minty/bootstrap.css" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/posteventform') }}" type="text/javascript"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <link href='https://fonts.googleapis.com/css?family=Delius Unicase' rel='stylesheet'>
</head>

{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  {% if form %}
    <h1 class="title-h1">Post your event, {{ current_user.username }}!</h1>

    <form class="postform back-form" action="" method="POST">
      {{ form.hidden_tag () }}
      <label class="post-label">
        {{ form.title.label (class="label-txt") }}
        {{ form.title (class="input") }}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label class="post-label">
        {{ form.date.label (class="label-txt") }}
        {{ form.date (class="input") }}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label class="post-label">
        {{ form.time.label (class="label-txt") }}
        {{ form.time (class="input") }}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label class="post-label">
        {{ form.venue.label (class="label-txt") }}
        {{ form.venue (class="input") }}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label class="post-label">
        {{ form.post.label (class="label-txt") }}
        {{ form.post (class="input") }}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label class="post-label">
        {{ form.eventphoto.label (class="label-txt") }}
        {{ form.eventphoto () }}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label class="post-label">
        {{ form.submit (class="button") }}
      </label>

    </form>

  {% endif %}

  {% if posts %}
    {% for post in posts %}
      {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
          <ul class="pager">
              <li class="previous{% if not prev_url %} disabled{% endif %}">
                  <a href="{{ prev_url or '#' }}">
                      <span aria-hidden="true">&larr;</span> Newer posts
                  </a>
              </li>
              <li class="next{% if not next_url %} disabled{% endif %}">
                  <a href="{{ next_url or '#' }}">
                      Older posts <span aria-hidden="true">&rarr;</span>
                  </a>
              </li>
          </ul>
      </nav>

  {% endif %}

{% endblock %}
