{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

{% block app_content %}
    <h1>Post your event, {{ current_user.username }}!</h1>

    <form class="postform" action="" method="post">
      {{ form.hidden_tag () }}
      <label>
        {{ form.title.label (class="label-txt") }}
        {{ form.title (class="input") }}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label>
        {{ form.date.label (class="label-txt") }}
        {{ form.date (class="input") }}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label>
        {{ form.time.label (class="label-txt") }}
        {{ form.time (class="input") }}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label>
        {{ form.venue.label (class="label-txt") }}
        {{ form.venue (class="input") }}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label>
        {{ form.post.label (class="label-txt") }}
        {{ form.post (class="input") }}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label>
        {{ form.submit (class="submit") }}
      </label>

    </form>


{% endblock %}
