<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <link href='https://fonts.googleapis.com/css?family=Delius Unicase' rel='stylesheet'>
</head>

{% extends "base.html" %}

{% block app_content %}
    <h1>{{ 'Messages' }}</h1>
    {% for message in messages %}
        {{ message.title }} <br>
        Sender: {{ message.author.username }} <br>
        Message: {{ message.body }} <br>
        {{ moment(message.timestamp).fromNow() }} <br>
        <a href="{{ url_for('delete_message', message=message.id) }}">Delete message</a>
    {% endfor %}

{% endblock %}
