<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <script src="{{ url_for('static', filename='js/posteventform') }}" type="text/javascript"></script>
  <link href='https://fonts.googleapis.com/css?family=Delius Unicase' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
</head>

{% extends "base.html" %}

{% block app_content %}

  {% if post %}
    {% include '_post.html' %}
  {% endif %}

          {% if comments %}
            {% for comment in comments %}
              <hr>
                <a href="{{ url_for('user', username=comment.username) }}">
                  {{ comment.username }}
                </a>
                said {{ moment(comment.timestamp).fromNow() }}:
                <br>
                {{ comment.body }}
            {% endfor %}
          {% endif %}

{% endblock %}
